*{
    margin: 0%;
    padding: 0%;
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.container h1{
    font-family: 'Courgette', cursive;
}
h1{
    text-align: center;
    margin: 12px 0;
}
.myform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myinput{
    display: block;
    width: 40%;
    padding: 9px;
    margin: 8px;
    font-size: 15px;
    border: 2px solid maroon;
    border-radius: 5px;
    outline: none;
    font-family: cursive;
}
.btn{
    padding: 4px 13px;
    margin: 15px;
    font-size: 15px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: 'Courgette', cursive;
    outline: none;

}